/* some */
.cursor-pointer {
  cursor: pointer;
}

.header-link-icon {
  width: 26px;
  height: 26px;
}
.header-link-icon img {
  display: block;
  width: 100%;
  height: 100%;
}

/* product-card */
.product-card {
  background: linear-gradient(135deg, #f7f6f4, #f1f0ee, #f6f5f3, #eeedeb)
}
.product-card__container {
  margin: 10px;
}
.product-card__title {
  height: 40px;
  font-size: 14px !important;
  word-break: normal !important;
}
.product-card__variables::-webkit-scrollbar,
.product-card__variables::-webkit-scrollbar-track,
.product-card__variables::-webkit-scrollbar-thumb {
  display: none;
}
.product-card__variables_card {
  border: 2px #dee2e6 solid !important;
}

.product-card__variables_card--active {
  border: 2px #26ae60 solid !important;
}

.download-title--underline {
  position: relative;
}
.download-title--underline::after {
  position: absolute;
  width: 100%;
  bottom: 1px;
  left: 0;
  content: "";
  border-bottom: 3px dashed #fcc000;
}
.read-more-title--underline {
  position: relative;
}
.read-more--underline::after {
  position: absolute;
  width: 100%;
  bottom: 1px;
  left: 0;
  content: "";
  border-bottom: 1px dashed #26ae60;
}
.mini-busket-button::after {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  content: attr(data-total-count);
  width: 25px;
  height: 25px;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  background: #ff7a7a;
}
